.container {
    position: relative;
    top: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 330px;
    justify-content: center;
    align-items: center;

    
    margin-left: 10px;

    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
}


main h2 {
    padding: 10px;
    color: white;
    
}

#outputTemp {
    color: yellowgreen;
    text-align: left;

    padding: 10px;

    font-size: 1.4em;
    font-weight: bold;
}

#messageTemp {
    color: white;
    font-style: italic;
    font-size: 0.8em;
    padding-left: 10px;
    padding-bottom: 5px;
}